.auth {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 350px;
  height: 100vh;

  margin: 0 auto;
}

.auth h1 {
  font-weight: normal;

  margin-bottom: 25px;
  text-align: center;
}

.auth__img__wrap {
  width: 100%;
  margin-bottom: 20px;
}

.auth__avatar {
  display: block;
  width: 100%;
  max-width: 80px;
  height: auto;

  margin: 0 auto;

  box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.auth__wrap {
  width: 100%;
  border-radius: 15px;
  padding: 35px 15px;
  box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.auth__form {
  width: calc(100% - 30px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.auth__input {
  height: 45px;
}

.auth__form Button {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
}

.auth__btn {
  text-decoration: none;
}
